<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Opalenica.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Opalenica.Settings>
            <setting name="CaseSensitiveCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreMultiMatchElements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandSeparatorChar" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </Opalenica.Settings>
    </userSettings>
</configuration>